<!DOCTYPE html>
<html>
<head>
  <title>Feed Me Later</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Feed Me Later</h1>
  
  <div id="calendar"></div>
  
  <div id="eventModal" class="event-container">
    <h3>Add Event</h3>
    <input type="text" id="eventTitle" placeholder="Event Title">
    <input type="text" id="eventDate" placeholder="Event Date">
    <input type="submit" value="Add" onclick="addEvent()">
  </div>

  <script src="/js/calendar.js"></script>
</body>
</html>
